---
import '../styles/global.css';
import { ClientRouter } from 'astro:transitions';
---

<html lang='en'>
  <head>
    <ClientRouter />
    <meta charset='utf-8' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <title>Astro</title>

    <script>
      import { gsap } from 'gsap';
      console.log('using GSAP: ', gsap.version);
    </script>
  </head>
  <body class='bg-gray-900 text-white'>
    <slot />
  </body>
</html>
